{#
/**
 * @file
 * lib-hours-today template
 *
 * Variables:
 *   - browse_text
 *   - browse_link
 */
#}
{{ attach_library('lib_cal/lib-cal') }}
<div style="margin: 1rem">
  <a class="btn btn-danger" href="{{ button_url }}">{{ button_text }}</a>
</div>
